<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What to eat ?</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="border border-secondery">
          <div class="row mx-0 row-banner"><span class="mx-auto">What to eat ?</span></div>
          <div class="row mx-0">
            <div class="col-2 border-right border-secondery">
              <div class="row text-center">
                <ul class="nav flex-column w-100">
                  <li class="nav-item">
                    <a th:href="@{/admin/mainPage}" class="nav-link admin-nav-text"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;个人信息</a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/admin/userList}" class="nav-link admin-nav-text"><i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;用户管理</a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/admin/foodList}" class="nav-link admin-nav-text"><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;菜品管理</a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/admin/managerList}" class="nav-link admin-nav-text active-nav"><i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;管理员管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-10 my-col-bg">
                <div class="continer my-container-bg border border-secondery my-3">
                  <div class="text-center border-bottom border-secondery">
                      <div class="d-block info-container">
                          <div class="success-label">
                              <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;添加成功
                          </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <script src="/jquery-3.4.1.min.js"></script>
        <script src="/bootstrap/js/popper.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
    </body>
</html>