<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What to eat ?</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <!-- 引入公共片段 -->
        <div th:replace="common::noHeader(activeUri='index')"></div>
        
        <div class="container px-0 border border-secondery border-bottom-0 login-bg">
          <div class="login-box border border-secondery mx-auto mt-5">
            <div class="nav nav-tabs nav-justified">
              <a href="#" class="nav-item nav-link active" data-toggle="tab" data-target="#login">登录</a>
              <a href="#" class="nav-item nav-link" data-toggle="tab" data-target="#regist">注册</a>   
            </div>
            <div class="tab-content">
              <div id="login" class="tab-pane show active">
                <form th:action="@{/userLogin}" class="pt-4">
                    <p class="ml-4" style="color:#dc3545" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                    <div class="form-group form-row mx-4">
                        <label for="" class="col-sm-2 control-form-label align-self-center">账号</label>
                        <input type="text" class="col-sm-9 form-control" name="account" placeholder="请输入用户名">
                    </div>
                    <div class="form-group form-row mt-4 mx-4">
                        <label for="" class="col-sm-2 control-form-label align-self-center">密码</label>
                        <input type="password" class="col-sm-9 form-control" name="password" placeholder="请输入密码">
                    </div>
                    <div class="form-group form-row">
                        <button class="btn login-btn mx-auto"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;登录</button>
                    </div>
                </form>
              </div>
              <div id="regist" class="tab-pane">
                <form th:action="@{/userRegist}">
                  <div class="form-group form-row mt-5 mx-4">
                    <label for="" class="col-sm-2 control-form-label align-self-center">账号</label>
                    <input type="text" class="col-sm-9 form-control" name="account" placeholder="请输入用户名">
                  </div>
                  <div class="form-group form-row mt-4 mx-4">
                    <label for="" class="col-sm-2 control-form-label align-self-center">密码</label>
                    <input type="password" class="col-sm-9 form-control" name="password" placeholder="请输入密码">
                  </div>
                  <div class="form-group form-row">
                    <button class="btn login-btn mx-auto"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;注册</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <script src="/jquery-3.4.1.min.js"></script>
        <script src="/bootstrap/js/popper.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
    </body>
</html>