<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What to eat ?</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <!-- 引入公共片段 -->
        <div th:replace="common::noHeader(activeUri='index')"></div>
        
        <div class="container border border-secondery border-bottom-0">
          <div class="row">
            <!-- 引入侧边栏 -->
            <div th:replace="common::sidebar(activeBar='myPost')"></div>
            
            <div class="col-10 p-3 my-col-bg ">
              <div class="continer border border-secondery my-container-bg">
                <div class="text-center border-bottom border-secondery">
                  <a th:href="@{/postFood}" class="btn post-btn my-3"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;发布</a>
                </div>
                <div class="px-3 pb-3 bg-empty">
                  <ul class="list-unstyled text-color">
                    <li class="media border-bottom border-secondery mt-3 p-2 li-bg" th:each="food:${foods}">
                      <img th:src="@{/food/getImg/}+${food.getFoodImg()}" class="mr-3" width="80" height="75">
                      <a th:href="@{/foodInfo/}+${food.getFoodID()}" class="media-body li-a">
                        <h5 class="mt-0">[[${food.getFoodName()}]]</h5>
                        <span>[[${food.getDescription()}]]</span>
                      </a>
                      <a href="javascript:void(0)" th:onclick="del([[${food.getFoodID()}]])" class="btn btn-danger btn-sm align-self-center ml-2"><i class="fa fa-trash fa-lg"></i>&nbsp;删除</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script src="/jquery-3.4.1.min.js"></script>
        <script src="/bootstrap/js/popper.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>

        <script type='text/javascript'>
          function del(foodID){
            alert(foodID);
            var event = event || window.event;
            var obj=event.srcElement || event.target; //获取到当前事件的源<a>
            var li=obj.parentNode;
            var url = "/deleteFood"; 
            var data = {"foodID":foodID};
            $.post(url,data,function(result){
                if(result=="success"){
                  li.parentNode.removeChild(li);
                }else{
                  alert("删除失败");
                }
            });
          }
		    </script>
    </body>
</html>