<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What to eat ?</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <!-- 引入公共片段 -->
        <div th:replace="common::noHeader(activeUri='index')"></div>
        
        <div class="container border border-secondery border-bottom-0">
          <div class="row">
            <!-- 引入侧边栏 -->
            <div th:replace="common::sidebar(activeBar='myPost')"></div>
            
            <div class="col-10 p-3 my-col-bg ">
              <div class="continer border border-secondery my-container-bg">
                <div class="text-center border-bottom border-secondery">
                  <div class="d-block post-container">
                    <div class="failed-label">
                        <i class="fa fa-times-circle" aria-hidden="true"></i></i>&nbsp;发布失败
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script src="/jquery-3.4.1.min.js"></script>
        <script src="/bootstrap/js/popper.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
    </body>
</html>